// -------- COLORS -------- //
$dark: #25262b;
$gray: #5f636d;
$primary: #6a91fd;
$primary-light: #e2eafd;
$white: #fafafa;

// -------- INTERFACE -------- //
$font-family: 'Open Sans';
$heading-font-family: 'Playfair Display';
$font-size: 16px;
$font-color: $dark;

$body-background: #fff;

$container-width: 1200px;
$container-padding: 10px;

// -------- GRID -------- //
$burger-show-value: 960px;
