.contact-us {
  .section__header {
    @media screen and (max-width: 1023.97px) {
      align-items: center;
      width: 100%;
      text-align: center;
    }
  }

  // .contact-us__container

  &__container {
  }

  // .contact-us__body

  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  // .contact-us__illustration

  &__illustration {
    flex: 1;
    img {
      width: 100%;
    }
    @media screen and (max-width: 1023.97px) {
      display: none;
    }
  }

  // .contact-us__form

  &__form {
    flex: 1;
    max-width: 580px;
    @media screen and (max-width: 1023.97px) {
      margin: 0 auto;
    }
  }
}
.section {
  // .section__header

  &__header {
    // .section__header_left

    &_left {
    }
  }

  // .section__suptitle

  &__suptitle {
  }

  // .section__title

  &__title {
  }
}
.container {
}
.form {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 580px) {
    padding: 1rem;
  }

  // .form__row

  &__row {
    display: flex;
    gap: 1rem;
    .form__label {
      flex: 1;
    }
  }

  // .form__label

  &__label {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5rem;
    i {
      color: #f64034;
      font-style: normal;
    }
  }

  // .form__input

  &__input {
    width: 100%;
  }

  // .form__btn

  &__btn {
    align-self: center;
  }
}
