.header {
  position: absolute;
  left: 0;
  top: 2rem;
  width: 100%;
  z-index: 999;

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__menu

  &__menu {
    background: none;
    border: none;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
    position: relative;
    &_active {
      span {
        position: absolute;
        width: 100%;
        top: 50%;
        &:nth-child(1) {
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(-50%) rotate(-45deg);
        }
        &:nth-child(3) {
          width: 0;
        }
      }
    }
    span {
      transition: transform 0.2s ease-in-out, width 0.2s ease-in-out;
      width: 100%;
      height: 3px;
      background: $dark;
    }
    margin-left: 2rem;
    @media screen and (max-width: 800px) {
      display: inline-flex;
    }
  }
}

.logo {
  text-decoration: none;
  display: inline-flex;
  @media screen and (max-width: 800px) {
    flex: 1;
  }
}

.nav {
  display: inline-flex;
  align-items: center;
  gap: 2rem;

  // .nav__link

  &__link {
    text-decoration: none;
    color: $dark;
    transition: color 0.2s ease-in-out 0.1s;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 0%;
      height: 0.125rem;
      background: $primary;
      left: 0;
      bottom: -2px;
      transition: width 0.2s ease-in-out;
    }
    &:hover {
      color: $primary;
      &::after {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 800px) {
    position: fixed;
    right: 10px;
    top: calc(40px + 2rem + 10px);
    background: $white;
    flex-direction: column;
    max-width: 280px;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    &__link {
      font-size: 1.125rem;
    }
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    &.active {
      transform: translateX(0);
    }
  }
}
