.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 88px;
  // .hero__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1023.97px) {
      flex-direction: column-reverse;
    }
  }

  // .hero__col

  &__col {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    flex-shrink: 0;
    @media screen and (max-width: 1220px) {
      max-width: 480px;
    }
    @media screen and (max-width: 1023.97px) {
      text-align: center;
    }
  }

  // .hero__title

  &__title {
    span {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        display: block;
        width: calc(100% + 1rem);
        height: 100%;
        background: $primary-light;
        left: 50%;
        transform: translateX(-50%);
        top: 6px;
        z-index: -1;
        border-radius: 36px 6px;
      }
    }
    @media screen and (max-width: 1220px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 767.97px) {
      font-size: 2.5em;
    }
    @media screen and (max-width: 424.97px) {
      font-size: 2rem;
    }
  }

  // .hero__text

  &__text {
    color: $gray;
    margin: 1.5rem 0 3rem 0;
    @media screen and (max-width: 767.97px) {
      margin: 1rem 0 2rem 0;
    }
  }

  // .hero__row

  &__row {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    @media screen and (max-width: 1023.97px) {
      justify-content: center;
    }
  }

  // .hero__image

  &__image {
    display: block;
    width: 100%;
    flex-shrink: 1;
  }
}
